social;Instagram;https://www.instagram.com/?variant=following
social;X;https://x.com/

entertainment;Metal Archives;https://www.metal-archives.com/
entertainment;Bandcamp;https://bandcamp.com/

misc/Reddit;Reddit;https://redlib.catsarch.com
misc/Reddit;/r/somesubreddit;https://redlib.catsarch.com/r/somesubreddit/new/
misc;GitHub;https://github.com/
misc;GOG;https://gog.com

misc/Games;Bela;https://bela.fun/home
misc/Games;Sporcle;https://sporcle.com
misc/Games;Blinest;https://blinest.com/en
misc/Games;Wordle;https://www.nytimes.com/games/wordle/index.html
misc/Games;Neal.fun;https://neal.fun/
